# Ignore Python files
__pycache__/

# Ignore textfile which has to be downloaded manualle
#Trebuchet.ttf

# Ignore competition folders which were used for testing
*2018/
*2019/

.DS_Store

# Ignore generated blank scoresheets
*_Scoresheets.pdf

*.csv
